@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondary: #fcde5c;
  --primary: #004aad;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
